@font-face {
    font-family: "Condensed Walkway";
    src: url('./assets/WalkwayCondensedSemibold.ttf');
}

* {
    font-family: "Condensed Walkway";
    box-sizing: border-box;
}

html, body {
    height: 95%;
    background-color: black;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
    height: 80%;
    margin: auto;
}

.main-logo {
    max-height: 350px;
    width: auto;
    margin-bottom: 25px;
}

.subheading {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.subheading:before {
    content: '|\ ';
}
.subheading:after {
    content: '\ |';
}


/* h1, h3 {
    margin: 0;
    color: white;
}

h1 {
    padding-top: 150px;
    padding-bottom: 20px;
}

