/** General Document Rules */
@font-face {
    font-family: "Condensed Walkway";
    src: url('WalkwayCondensedSemiBold.ttf');
}

* {
    font-family: "Condensed Walkway";
    box-sizing: border-box;
}

html, body, .app-container{
    height: 95%;
    background-color: black;
    color: white;
    text-align: center;
}

/* Layout Classes */
.content {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
}

.main-logo {
    max-height: 350px;
    width: auto;
    margin-bottom: 25px;
}

/* Flex Classes */
.flex-parent {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.flex-wrap {
    flex-wrap: wrap;
}

.flex-spaced-evenly {
    justify-content: space-evenly;
}

.flex-dynamic-child {
    flex: 1 1 auto;
}

.flex-static-child {
    flex: 0 0 auto;
}

/** Heading Classes */
.heading {
    margin: 0;
    text-transform: uppercase;
}

.subheading {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.decorated:before {
    content: '|\ ';
}

.decorated:after {
    content: '\ |';
}

.separator:after {
    content: '\ &\ ';
}

/** List classes */
.listing {
    margin-top: 50px;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
}

/** Card Classes */
.card {
    background-color: red;
    width: 170px;
    height: 350px;
    margin: 15px;
    z-index: 1;
}

.card-title {
    padding-top: 5px;
    height: 57px;
}

.card-popup {
    visibility: hidden;
    position: absolute;
    background-color: red;
    transition: width 1s ease, height 1s ease, visibility 1s ease;
    width: 0;
    height: 0;
    top: 0;
    left: calc(50% - 200px);
}

.card-popup .card-title {
    visibility: hidden;
}

.card-popup .slider-control {
    width: 50px;
    height: 32px;
    position: absolute;
    background-color: gray;
    padding-top: 6px;
    cursor: pointer;
    top: calc(50% - 16px);
}

.card-container.active .card,
.card-container:hover .card {
    filter: sepia(80%);
}

.card-container.active .card-popup {
    visibility: visible;
    border: 1px solid white;
    width: 400px;
    height: 400px;
    z-index: 2;
}

.card-container.active .card-popup .card-title {
    transition: visibility 1s ease 1s;
    visibility: visible;
}

.slider-control.left {
    left: -15px;
}

.slider-control.right {
    right: -15px;
}


/** Navigation anchors classes */
.anchor {
    transition: font-size 2s;
    color: inherit;
    text-decoration: none;
}

.anchor:hover {
    font-size: 30px;
    font-weight: bold;
}

/** Misc Classes */
.shadow-box__right {
    box-shadow: 3px 3px 5px rgba(222, 224, 226, 0.4);
}

.shadow-box {
    box-shadow: -3px 3px 5px rgba(222, 224, 226, 0.4);
}

.shadow-text {
    text-shadow: 3px 3px 1px rgba(222, 224, 226, 0.4)
}

.shadow-text__black {
    text-shadow: 3px 3px 2px black;
}

.grayscale {
    background: url('cat.jpg');
    background-origin: border-box;
    background-size: cover;
    filter: grayscale(100%);
}

@keyframes slideAnimation {
    from {
        background-position: 400px 0, 0 0;
    }
    to {
        background-position: 0 0, 0 0;
    }
}

.animateBackground {
    animation: slideAnimation 1s linear;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    animation: popup_design1_animation 20s linear infinite 2s;
    animation-direction: alternate;
}


/** PopUp Cards Specific Styles */
/* @keyframes popup_design1_animation {
    0% {
        background-position: 400px 0px,
                            400px 0px,
                            400px 0px,
                            400px 0px,
                            0px 0px;
    }
    25% {
        background-position: 400px 0px,
                            400px 0px,
                            400px 0px,
                            0px 0px,
                            0px 0px;
    }
    50% {
        background-position: 400px 0px,
                            400px 0px,
                            0px 0px,
                            0px 0px,
                            0px 0px;
    }
    75% {
        background-position: 400px 0px,
                            0px 0px,
                            0px 0px,
                            0px 0px,
                            0px 0px;
    }
    100% {
        background-position: 0px 0px,
                            0px 0px,
                            0px 0px,
                            0px 0px,
                            0px 0px;
    }
}

#popup_design1 {
    background-image: url('cats1.jpg'), 
                      url('cats2.jpg'), 
                      url('cats3.jpg'), 
                      url('cats4.jpg'), 
                      url('cats5.jpg');

    background-position: 400px 0px,
                         400px 0px,
                         400px 0px,
                         400px 0px,
                         0px 0px;

    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    animation: popup_design1_animation 20s linear infinite 2s;
    animation-direction: alternate;
}
 */
